<!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" /> 
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script> -->


<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1> Register Form</h1>
    </div>
  </div>
</div>
<form #userForm="ngForm" action="" class="form">
  <div class="row">
    <div class="col-md-12">
      <div class="page-body">
        <div class="form-group">
          <label for="productName">FirstName</label>
          <input type="text" name="productName" id="firstName" [(ngModel)]="reg.firstName" class="form-control"
            required #firstName="ngModel">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="page-body">
        <div class="form-group">
          <label for="productCode">LastName</label>
          <input type="text" name="productCode" id="lastName" [(ngModel)]="reg.lastName" #productCode="ngModel"
            class="form-control" required>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="page-body">
        <div class="form-group">
          <label for="productName">Address</label>
          <input type="text" name="productName" id="address" [(ngModel)]="reg.address" class="form-control"
            required #address="ngModel">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="page-body">
        <div class="form-group">
          <label for="productCode">Salary</label>
          <input type="text" name="productCode" id="salary" [(ngModel)]="reg.salary" #salary="ngModel"
            class="form-control" required>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="page-body">
        <div class="form-group">
          <label for="productCode">MobileNumber</label>
          <input type="text" name="productCode" id="mobileNumber" [(ngModel)]="reg.mobileNumber" #mobileNumber="ngModel"
            class="form-control" required>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="page-body">
        <button class="btn btn-primary btn-md" (click)="SaveRegister(userForm.form.valid)">Save</button>
        <input type="reset" (click)="ResetForm()" value="Reset" class="btn btn-default btn-md">
      </div>
    </div>
  </div>
</form>

<script>
  $(function () {
    $('#toggle-one').bootstrapToggle();
  })
</script>